/* Ik heb geprobeerd alles uitteleggen dus veel lees plezier */ 
/* Importeert een font om te gebruiken */ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/* Bepaald de grootte en de positie van de container waar alles instaat */
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}
/* Geeft alle verschillende types die aangegeven zijn in html als type="example" de font die hierboven is geimporteerd vanaf google */ 
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
/* Opmaak van de grootte witte box waar alles instaat */ 
#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}
/* Opmaak van de header: SNEL CONTACT */ 
#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
/* Maakt fields die om de velden heen staan op, deze zijn nodig voor het design van het hele form */
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
/* Maakt de velden zelf op */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
/* Zorgt er voor dat het bericht box groter word. */
#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}
/* Toch nog iets nieuws geleerd uit het schoolboek; de pointer. Dit maakt de knop VERSTUUR op en veranderd de muis in een pointer. */  
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
/* zorgt er voor dat alks je over de muis heen gaat de kleur langzaam veranderd, hover effect */ 
#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}





